# Exercise 9

## Naive Bayes with Yelp review text

Using the yelp reviews database  create a Naive Bayes model to predict the star rating for reviews

Read `yelp.csv` into a DataFrame.

In [1]:
# access yelp.csv using a relative path
import pandas as pd
yelp = pd.read_csv('yelp.csv')
yelp.head(1)

,business_id,date,review_id,stars,text,type,user_id,cool,useful,funny
0,9yKzy9PApeiPPOUJEtnvkg,2011-01-26,fWKvX83p0-ka4JS3dc6E5A,5,My wife took me here on my birthday for breakf...,review,rLtl8ZkDX5vH5nAx9C3q5Q,2,5,0

Create a new DataFrame that only contains the 5-star and 1-star reviews.

In [2]:
# filter the DataFrame using an OR condition
yelp_best_worst = yelp[(yelp.stars==5) | (yelp.stars==1)]

Split the new DataFrame into training and testing sets, using the review text as the only feature and the star rating as the response.

In [3]:
# define X and y
X = yelp_best_worst.text
y = yelp_best_worst.stars

In [4]:
# split into training and testing sets
from sklearn.cross_validation import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

# Exercise 9.1

Use CountVectorizer to create document-term matrices from X_train and X_test.

In [5]:
from sklearn.feature_extraction.text import CountVectorizer
vect = CountVectorizer()
vect.fit(X_train)
vect.get_feature_names()
Xtrain_dtm = vect.transform(X_train)
print(Xtrain_dtm)

  (0, 136)	1
  (0, 805)	4
  (0, 1003)	1
  (0, 1018)	1
  (0, 1528)	1
  (0, 1564)	1
  (0, 1902)	1
  (0, 2069)	1
  (0, 2285)	1
  (0, 2286)	2
  (0, 2398)	1
  (0, 2789)	1
  (0, 3213)	1
  (0, 3233)	1
  (0, 3679)	1
  (0, 3999)	1
  (0, 4631)	1
  (0, 4809)	1
  (0, 4837)	1
  (0, 5342)	2
  (0, 5773)	1
  (0, 5882)	1
  (0, 6028)	1
  (0, 6154)	1
  (0, 6433)	1
  :	:
  (3063, 6974)	1
  (3063, 7023)	1
  (3063, 7181)	1
  (3063, 8189)	2
  (3063, 9318)	1
  (3063, 9438)	1
  (3063, 9440)	1
  (3063, 9807)	1
  (3063, 10352)	2
  (3063, 10805)	1
  (3063, 12038)	1
  (3063, 14137)	1
  (3063, 14720)	1
  (3063, 14836)	1
  (3063, 14994)	1
  (3063, 15032)	2
  (3063, 15042)	1
  (3063, 15093)	2
  (3063, 15228)	1
  (3063, 15281)	1
  (3063, 15834)	1
  (3063, 15968)	1
  (3063, 16162)	1
  (3063, 16252)	2
  (3063, 16599)	1

In [6]:
Xtrain_dtm.toarray()

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [7]:
matrixX = pd.DataFrame(Xtrain_dtm.toarray(), columns=vect.get_feature_names())
matrixX.head(2)

,00,000,00a,00am,00pm,01,02,03,03342,04,...,zucchini,zuchinni,zumba,zupa,zuzu,zwiebel,zzed,éclairs,école,ém
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [8]:
from sklearn.feature_extraction.text import CountVectorizer
vect = CountVectorizer()
vect.fit(X_test)
vect.get_feature_names()
Xtest_dtm = vect.transform(X_test)
Xtest_dtm
print(Xtest_dtm)

  (0, 179)	1
  (0, 419)	2
  (0, 448)	2
  (0, 458)	6
  (0, 472)	1
  (0, 604)	1
  (0, 736)	1
  (0, 967)	4
  (0, 1155)	2
  (0, 1339)	1
  (0, 1668)	1
  (0, 1723)	1
  (0, 2328)	1
  (0, 2459)	1
  (0, 2513)	1
  (0, 2679)	1
  (0, 2751)	1
  (0, 2873)	1
  (0, 2956)	1
  (0, 3072)	1
  (0, 3481)	1
  (0, 3785)	1
  (0, 4048)	1
  (0, 4078)	3
  (0, 4094)	1
  :	:
  (1021, 3714)	1
  (1021, 4102)	1
  (1021, 4436)	2
  (1021, 4618)	1
  (1021, 5000)	1
  (1021, 5350)	1
  (1021, 5452)	1
  (1021, 5473)	1
  (1021, 5601)	1
  (1021, 5873)	1
  (1021, 5924)	1
  (1021, 6692)	1
  (1021, 6874)	1
  (1021, 7923)	1
  (1021, 7954)	1
  (1021, 8581)	1
  (1021, 8589)	1
  (1021, 8695)	2
  (1021, 9227)	1
  (1021, 9280)	1
  (1021, 9328)	1
  (1021, 9430)	1
  (1021, 9432)	1
  (1021, 9494)	1
  (1021, 9573)	2

In [64]:
Xtest_dtm.toarray()

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [9]:
matrixXT= pd.DataFrame(Xtest_dtm.toarray(), columns=vect.get_feature_names())
matrixXT.head(2)

,00,000,00pm,02,04,05,06,10,100,1000,...,zone,zoners,zones,zoo,zoom,zucchini,zuccini,zupas,zuzu,zuzus
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

# Exercise 9.2

Use Naive Bayes to predict the star rating for reviews in the testing set, and calculate the accuracy.

In [10]:
from sklearn.naive_bayes import MultinomialNB
nb = MultinomialNB()
nb.fit(Xtest_dtm, y_test)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [12]:
from sklearn.naive_bayes import MultinomialNB
y_pred_class = nb.predict(Xtest_dtm)

In [13]:
from sklearn import metrics
print(metrics.accuracy_score(y_test, y_pred_class))

0.987279843444

# Exercise 9.3

Calculate the AUC.

No hay que realizar este punto

# Exercise 9.4

Print the confusion matrix.

Calculate the Precesion, Recall and F1Score.

In [85]:
print(metrics.confusion_matrix(y_test, y_pred_class))

[[171  13]
 [  0 838]]

In [87]:
from sklearn.metrics import precision_score, recall_score, f1_score
print('precision_score ', precision_score(y_test, y_pred_class))
print('recall_score    ', recall_score(y_test, y_pred_class))

precision_score  1.0
recall_score     0.929347826087

In [88]:
    print('f1_score    ', f1_score(y_test, y_pred_class))

f1_score     0.96338028169

# Exercise 9.5

Browse through the review text for some of the false positives and false negatives. Based on your knowledge of how Naive Bayes works, do you have any theories about why the model is incorrectly classifying these reviews?

In [89]:
X_test[y_test < y_pred_class] ## Falsos positivos

1781    If you like the stuck up Scottsdale vibe this ...
8755    Not lesbian/gay friendly at all. I should have...
9125    La Grande Orange Grocery has a problem. It can...
1721    This is the closest to a New York hipster styl...
8833    The owner has changed hands & this place isn't...
6584    Jimmy Johns is cheaper and better ... The Capr...
9953    "Hipster,Trendy" ????-I think NOT !!!! Very di...
2060                This place is closed.  Good riddance.
6222    My mother always told me, if I didn't have any...
7130    I was not impressed. The food was bad & expens...
3704    Staff is nice, and that's it.\r\nThey use very...
9299    The salad plates were not chilled... As they u...
4311    Donuts are really good, if they have any when ...
Name: text, dtype: object

In [90]:
X_test[y_test > y_pred_class] ## Falso negativo

Series([], Name: text, dtype: object)

Puede que esto suceda en este caso, debido a que  se esta montando el modelo con el sets testing  y este posee poco datos con respecto a train, ya que con grandes cantidades no presentan tanta sensibilidad en los resultados.

# Bonus Exercise 9.6 (3 points)

Let's see how well Naive Bayes performs when all reviews are included, rather than just 1-star and 5-star reviews:

- Define X and y using the original DataFrame from step 1. (y should contain 5 different classes.)
- Split the data into training and testing sets.
- Calculate the testing accuracy of a Naive Bayes model.
- Compare the testing accuracy with the null accuracy.
- Print the confusion matrix.
- Comment on the results.